:root {
  --ff-golos-text: "Golos Text", sans-serif;
  --ff-merriweather: "Merriweather", sans-serif;
  --mobile-layout-padding-h: 20px;
  --mobile-layout-padding-h-double: calc(var(--mobile-layout-padding-h) * 2);
  --layout-padding-h: 72px;

  --color-text-primal: #313131;
  --color-black: #1f1f1f;
  --color-white: #ffffff;
  --color-highlight: #f54932;
  --color-link: #3057a2;
  --color-beige: #e9ded4;
  --color-border: #d0d0d0;
  --color-hover: #fbce51;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
a {
  overflow-wrap: break-word;
  word-break: break-word;
  text-decoration: none;
  margin: 0;
}

dl,
dd {
  margin: 0;
}

/* Based */

.strikethrough {
  text-decoration: line-through;
  text-decoration-color: var(--color-highlight);
}

.link {
  font-family: var(--ff-golos-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  text-align: start;
  color: var(--color-link);
  text-transform: none;
}

.container {
  padding: 0 var(--mobile-layout-padding-h);
  grid-area: container;
}

.mobile-only {
  display: block;
}
.desktop-only {
  display: none;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: var(--ff-merriweather);
  line-height: 110%;
  color: var(--color-text-primal);
  text-transform: uppercase;
  text-align: start;
}

.with-rough-back {
  background-image: url(../assets/images/rough-back.png);
}

.with-cooper-back {
  background-image: url(../assets/images/cooper-back.png);
}

.running-line-container {
  padding: 10px 0;
  background-color: var(--color-highlight);
}

.running-line-text {
  color: var(--color-white);
  font-size: 16px;
  font-family: var(--ff-merriweather);
  font-weight: 400;
  line-height: 110%;
  padding: 0 12px;
}

/* header */

.header {
  position: absolute;
  top: 18px;

  display: flex;
  align-items: center;
  column-gap: 1.5px;
}

.header__text {
  font-family: var(--ff-golos-text);
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  color: #595653;
  text-transform: uppercase;

  margin-left: 4px;
}

.header__icon {
  width: 19px;
  height: 27px;
}

/* hero */

.hero {
  height: 100vh;
  position: relative;
  max-height: 812px;
  padding-right: var(--mobile-layout-padding-h);
  padding-left: var(--mobile-layout-padding-h);
}

.hero__title {
  padding: 90px 0 0;
  margin: 0 0 24px;
  max-width: 335px;
}
.hero__title__second {
  text-align: center;
}
.hero__title__third {
  text-align: end;
}
.hero__text {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff-golos-text);
  line-height: 130%;
  color: var(--color-text-primal);
  text-align: start;
  text-wrap: balance;
}
.hero__buttons {
  margin: 32px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  max-width: 350px;
}
.hero__button {
  padding: 18px 20px;
  border-radius: 66px;
  border-width: 0px;
  background-color: var(--color-black);
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff-golos-text);
  line-height: 130%;
  color: var(--color-white);
}

.hero__button:hover {
  color: var(--color-black);
  background-color: var(--color-hover);
}

.hero__button.variant-1 {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--color-black);
}

.hero__button.variant-1:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}

.hero__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/rough-back.png");
  background-color: #e9ded4;
  background-blend-mode: color-burn;
  background-size: cover;
  z-index: -2;
}

.hero__background_l {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/mobile_hero_back_layer.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Invitation Section */

.invitation {
  background-color: var(--color-white);
  padding-top: 48px;
}

.invitation__title {
  font-size: 28px;
  font-weight: 400;
  font-family: var(--ff-merriweather);
  line-height: 135%;
  color: var(--color-text-primal);
  text-transform: uppercase;
  text-wrap: balance;
}
.invitation__image-1 {
  margin: 24px 0;
}
.invitation__image-1-desk {
  display: none;
}
.invitation__title.highlighted {
  color: var(--color-highlight);
  font-weight: bold;
}
.invitation__image-2 {
  margin: 34px 0 24px;
  max-width: 400px;
  width: 100%;
}

.invitation__info {
  margin-top: 44px;
}

.invitation__info__item {
  padding: 16px 0;
  border-bottom: 2px solid var(--color-border);
}
.invitation__info__item:last-of-type {
  margin: 0 0 40px;
}

.invitation__info__item dt {
  font-family: var(--ff-golos-text);
  color: var(--color-text-primal);
  font-size: 20px;
  opacity: 0.7;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 12px;
}

.invitation__info__item dd {
  font-family: var(--ff-golos-text);
  color: var(--color-text-primal);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}

.invitation__info__item.inline dd,
.invitation__info__item.inline dt {
  display: inline;
}

.invitation__info__item.inline dd {
  margin-left: 12px;
}

/* Stages */

.stages {
  margin-top: 120px;
}

.stages__title {
  margin-bottom: 12px;
}
.stages__title a {
  display: block;
  margin: 12px 0 0;
}

.stages__image {
  position: relative;
  z-index: 1;
}

.stages__carousel__wrapper {
  position: relative;
  margin: 20px 0 120px;
}
.stages__carousel__wrapper .carousel__container {
  position: relative;
  height: 300px;
  width: 100%;
  margin: -54px 0 0;
  display: inline-flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.stages__carousel__wrapper .carousel__container::-webkit-scrollbar {
  display: none;
}

.stages__carousel__wrapper .carousel__item {
  min-width: 100%;
  scroll-snap-align: center;
}

.stages__carousel__item__content {
  width: calc(100% - var(--mobile-layout-padding-h-double));
  height: 100%;
  margin: 0 var(--mobile-layout-padding-h);
}

.stages__carousel__item__flex {
  height: 100%;
  padding: 62px 24px 34px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  background-size: cover;
}

.stages__carousel__item__row {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.stages__carousel__item__index {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.stages__carousel__item__index span {
  font-family: var(--ff-golos-text);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--color-text-primal);
}

.stages__carousel__item__text {
  font-family: var(--ff-golos-text);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-text-primal);
  text-align: start;
}

/* Party Section */

.party {
  margin: 0 0 100px;
}

.party__carousel__container {
  display: flex;
  margin: 40px 0;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;
}
.party__carousel__container::-webkit-scrollbar {
  display: none;
}
.party .carousel__item {
  flex-shrink: 0;
  width: calc(100% - var(--mobile-layout-padding-h-double));
  scroll-snap-align: center;
}
.party__carousel__item__image {
  width: 244px;
  margin: 0 auto;
}
.party__carousel__item__name {
  margin: 26px 0 0;
  font-family: var(--ff-golos-text);
  font-weight: 600;
  color: var(--color-text-primal);
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}
.party__carousel__item__dignity {
  margin: 8px 0 0;
  font-family: var(--ff-golos-text);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-text-primal);
  text-align: center;
  opacity: 0.6;
}
.party__carousel__item__btn {
  display: block;
  margin: 20px auto 0;
  padding: 12px;
  border: 1px solid var(--color-link);
  color: var(--color-link);
  font-size: 16px;
  font-family: var(--ff-golos-text);
  font-weight: 500;
  border-radius: 62px;
  line-height: 11px;
  background-color: transparent;
}

.party__carousel__item__btn:hover {
  color: var(--color-white);
  background-color: var(--color-link);
}

.party #controller.mobile-only {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.carousel__controll.mobile-only {
  display: flex;
}

.party__carousel__counter__container {
  font-size: 16px;
  font-family: var(--ff-golos-text);
  font-weight: 400;
  line-height: 120%;
}
.party__carousel__counter__text {
  opacity: 0.6;
}

.footer {
  padding: 0 0 60px;
  background-color: var(--color-beige);
}

.footer .running-line-container {
}

.footer__text {
  font-family: var(--ff-golos-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-text-primal);
  opacity: 0.6;
  text-align: start;
  padding: 40px 20px 0;
}

@media (min-width: 1365px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }

  h2 {
    font-size: 60px;
    font-weight: 400;
    font-family: var(--ff-merriweather);
    line-height: 110%;
    color: var(--color-text-primal);
    text-transform: uppercase;
    text-align: start;
  }

  .running-line-container {
    padding: 18px 0;
  }

  .running-line-text {
    font-size: 22px;
    padding: 0 30px;
  }

  .container {
    padding: 0 var(--layout-padding-h);
  }

  .header__icon {
    width: 22px;
    height: 31px;
  }

  .hero__background {
    display: none;
  }

  .hero__background_l {
    background-image: url(../assets/images/hero_back.png);
    background-size: cover;
    background-position: bottom right;
  }

  .header__text {
    font-family: var(--ff-golos-text);
    font-weight: bold;
    font-size: 17px;
    line-height: 110%;
    color: #595653;
    text-transform: uppercase;

    margin-left: 6px;
  }

  .hero {
    height: 100vh;
    position: relative;
    max-height: 700px;
    padding: 0 var(--layout-padding-h);
  }

  .hero__container {
    max-width: 542px;
  }

  .hero__title {
    padding: 124px 0 0;
    margin: 0 0 24px;
    max-width: none;
  }
  .hero__title__second {
    text-align: center;
  }
  .hero__title__third {
    text-align: end;
  }

  .hero__text {
    text-align: center;
  }

  .hero__buttons {
    margin: 40px 0 0;
    flex-direction: row;
    column-gap: 16px;
    max-width: none;
  }
  .hero__button {
    flex: 1;
    padding: 20px 50px;
    color: var(--color-white);
    text-wrap: balance;
  }

  .hero__button.variant-1 {
    background-color: transparent;
    border: 2px solid var(--color-black);
    color: var(--color-black);
  }

  .invitation {
    padding-top: 107px;
  }
  .invitation__flex {
    display: flex;
    column-gap: 64px;
    align-items: center;
  }
  .invitation__title {
    font-size: 36px;
  }

  .invitation__image-1 {
    width: 394px;
  }

  .invitation__grid {
    display: grid;
    grid-template-areas: "image2 container" "image2 info";
    margin: 17px 0 0;
    padding: 0 var(--layout-padding-h) 0 45px;
    column-gap: 17px;
    grid-template-columns: 530px auto;
  }

  .invitation__grid .container {
    padding: 0;
  }

  .invitation__seans {
    margin: 47px 0 0;
  }

  .invitation__image-2 {
    margin: 0;
    grid-area: image2;
    max-width: auto;
  }

  .invitation__info {
    margin: 60px 0 0;
    grid-area: info;
    max-width: 710px;
  }

  .invitation__info__item {
    padding: 0;
    display: flex;
  }

  .invitation__info__item:last-of-type {
    margin: 0 0 48px;
  }
  .invitation__info__item dt {
    margin: 0;
    flex: 1;
    border-right: 2px solid var(--color-border);
    padding: 16px 16px 16px 0;
  }

  .invitation__info__item:first-of-type dt,
  .invitation__info__item:first-of-type dd {
    padding-top: 0px;
  }
  .invitation__info__item:last-of-type dt,
  .invitation__info__item:last-of-type dd {
    padding-bottom: 0px;
  }
  .invitation__info__item:last-of-type {
    border-bottom: none;
  }

  .invitation__info__item dd {
    flex: 1;
    padding: 16px;
  }
  .invitation__info__item.inline dd {
    margin-left: 0;
  }

  .stages__title a {
    display: inline-block;
    width: 280px;
    text-wrap: balance;
    transform: translateY(-5px);
  }

  .stages__carousel__wrapper {
    margin: 54px 0 200px;
  }

  .stages__image {
    position: absolute;
    right: -60px;
    bottom: -7px;
    width: 420px;
  }

  .stages__carousel__wrapper .carousel__container {
    padding: 0 var(--layout-padding-h);
    margin: 54px 0 0;
    display: grid;
    grid-template-areas: "item1 item1 item2" "item3 item3 item2" "item4 item5 item5";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 122px 122px 136px;
    gap: 20px;
    height: auto;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .stages__carousel__item__content {
    width: auto;
    height: auto;
    margin: 0;
    flex: 1;
  }

  .stages__carousel__item__flex {
    padding: 0;
    position: relative;
  }

  .stages .carousel__item {
    display: flex;
  }

  .carousel__item:first-of-type .stages__carousel__item__content {
    background-image: none;
  }
  .carousel__item:first-of-type .stages__carousel__item__flex {
    background-image: none;
    flex-direction: row;
    column-gap: 20px;
  }

  .carousel__item:nth-of-type(3) .stages__carousel__item__content {
    background-image: none;
  }
  .carousel__item:nth-of-type(3) .stages__carousel__item__flex {
    background-image: none;
    flex-direction: row;
    column-gap: 20px;
  }
  .stages__carousel__item__row {
    padding: 20px;
    position: relative;
    z-index: 1;
  }

  .carousel__item:first-of-type .stages__carousel__item__row {
    background-image: url(../assets/images/rough-back.png);
    background-size: cover;
    background-position: center center;
    flex: 1;
  }
  .carousel__item:nth-of-type(3) .stages__carousel__item__row {
    background-image: url(../assets/images/rough-back.png);
    background-size: cover;
    background-position: center center;
    flex: 1;
  }

  .stages__carousel__item__row .with-cooper-back {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .carousel__item:nth-of-type(1) {
    grid-area: item1;
  }
  .carousel__item:nth-of-type(2) {
    grid-area: item2;
  }
  .carousel__item:nth-of-type(3) {
    grid-area: item3;
  }
  .carousel__item:nth-of-type(4) {
    grid-area: item4;
  }
  .carousel__item:nth-of-type(5) {
    grid-area: item5;
  }

  .carousel__item:last-of-type .stages__carousel__item__text {
    max-width: 50%;
  }
  .party {
    margin: 0 0 140px;
  }

  .party > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .party .carousel__controll {
    margin: 0;
  }

  .party #controller.mobile-only {
    display: none;
  }

  .party .carousel__controll.desktop-only {
    align-items: center;
    display: flex;
  }

  .carousel__controll.mobile-only {
    display: none;
  }

  .party__carousel__container {
    width: 1222px;
    margin: 60px auto 0;
  }

  .party .carousel__item {
    width: auto;
  }
  .party .carousel__item.container {
    width: auto;
    padding: 0 37px;
  }

  .party__carousel__item__image {
    width: 320px;
    margin: 0;
  }

  .footer {
    padding: 0;
  }
  .footer__text {
    padding: 40px var(--layout-padding-h) var(--layout-padding-h);
  }
}
@media (min-width: 1920px) {
  .hero__background_l {
    background-image: url(../assets/images/hero_back_large.png);
  }
  .hero__container {
    padding-left: calc(350px - var(--layout-padding-h));
  }
  .header {
    padding-left: 350px;
  }
}
