:root {
  --ff-golos-text: "Golos Text", sans-serif;
  --ff-merriweather: "Merriweather", sans-serif;
  --mobile-layout-padding-h: 20px;
  --mobile-layout-padding-h-double: calc(var(--mobile-layout-padding-h) * 2);

  --color-text-primal: #313131;
  --color-black: #1f1f1f;
  --color-white: #ffffff;
  --color-highlight: #f54932;
  --color-link: #3057a2;
  --color-beige: #e9ded4;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
a {
  overflow-wrap: break-word;
  word-break: break-word;
  text-decoration: none;
  margin: 0;
}

dl,
dd {
  margin: 0;
}

/* Based */

.strikethrough {
  text-decoration: line-through;
  text-decoration-color: var(--color-highlight);
}

.link {
  font-family: var(--ff-golos-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  text-align: start;
  color: var(--color-link);
}

.container {
  padding: 0 var(--mobile-layout-padding-h);
}

h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: var(--ff-merriweather);
  line-height: 110%;
  color: var(--color-text-primal);
  text-transform: uppercase;
  text-align: start;
}

.with-rough-back {
  background-image: url(../assets/images/mobile_hero_back.png);
}

.with-cooper-back {
  background-image: url(../assets/images/cooper-back.png);
}

.running-line-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  padding: 10px 0;
  background-color: var(--color-highlight);
}

.running-line-text {
  color: var(--color-white);
  font-size: 16px;
  font-family: var(--ff-merriweather);
  font-weight: 400;
  line-height: 110%;
  padding: 0 12px;
}

/* header */

.header {
  position: absolute;
  top: 18px;
  left: var(--mobile-layout-padding-h);

  display: flex;
  align-items: center;
  column-gap: 1.5px;
}

.header__text {
  font-family: var(--ff-golos-text);
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  color: #595653;
  text-transform: uppercase;

  margin-left: 4px;
}

.header__icon {
  width: 19px;
  height: 27px;
}

/* hero */

.hero {
  height: 100vh;
  position: relative;
  max-height: 812px;
  padding-right: var(--mobile-layout-padding-h);
  padding-left: var(--mobile-layout-padding-h);
}

.hero__title {
  padding: 90px 0 0;
  margin: 0 0 24px;
  max-width: 335px;
}
.hero__title__second {
  text-align: center;
}
.hero__title__third {
  text-align: end;
}
.hero__text {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff-golos-text);
  line-height: 130%;
  color: var(--color-text-primal);
  text-align: start;
  text-wrap: balance;
}
.hero__buttons {
  margin: 32px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  max-width: 350px;
}
.hero__button {
  padding: 18px 20px;
  border-radius: 66px;
  border-width: 0px;
  background-color: var(--color-black);
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff-golos-text);
  line-height: 130%;
  color: var(--color-white);
}

.hero__button.variant-1 {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--color-black);
}

.hero__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/mobile_hero_back.png");
  background-color: #e9ded4;
  background-blend-mode: color-burn;
  background-size: cover;
  z-index: -2;
}

.hero__background_l {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/mobile_hero_back_layer.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Invitation Section */

.invitation {
  background-color: var(--color-white);
  padding-top: 48px;
}

.invitation__title {
  font-size: 28px;
  font-weight: 400;
  font-family: var(--ff-merriweather);
  line-height: 135%;
  color: var(--color-text-primal);
  text-transform: uppercase;
}
.invitation__image-1 {
  margin: 24px 0;
}
.invitation__title.highlighted {
  color: var(--color-highlight);
  font-weight: bold;
}
.invitation__image-2 {
  margin: 34px 0 24px;
}

.invitation__info {
  margin-top: 44px;
  margin-bottom: 40px;
}

.invitation__info__item {
  padding: 16px 0;
  border-bottom: 1px solid #d0d0d0;
}

.invitation__info__item dt {
  font-family: var(--ff-golos-text);
  color: var(--color-text-primal);
  font-size: 20px;
  opacity: 0.7;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 12px;
}

.invitation__info__item dd {
  font-family: var(--ff-golos-text);
  color: var(--color-text-primal);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}

.invitation__info__item.inline dd,
.invitation__info__item.inline dt {
  display: inline;
}

.invitation__info__item.inline dd {
  margin-left: 12px;
}

/* Stages */

.stages {
  margin-top: 120px;
}

.stages__title {
  margin-bottom: 12px;
}

.stages__image {
  position: relative;
  z-index: 1;
}

.stages__carousel__wrapper {
  position: relative;
  margin: 20px 0 120px;
}
.stages__carousel__wrapper .carousel__container {
  position: relative;
  height: 300px;
  width: 100%;
  margin: -54px 0 0;
  display: inline-flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.stages__carousel__wrapper .carousel__container::-webkit-scrollbar {
  display: none;
}

.stages__carousel__wrapper .carousel__item {
  min-width: 100%;
  scroll-snap-align: center;
}

.stages__carousel__item__content {
  width: calc(100% - var(--mobile-layout-padding-h-double));
  height: 100%;
  margin: 0 var(--mobile-layout-padding-h);
}

.stages__carousel__item__flex {
  height: 100%;
  padding: 62px 24px 34px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.stages__carousel__item__row {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.stages__carousel__item__index {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.stages__carousel__item__index span {
  font-family: var(--ff-golos-text);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--color-text-primal);
}

.stages__carousel__item__text {
  font-family: var(--ff-golos-text);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-text-primal);
  text-align: start;
}

/* Party Section */

.party {
  margin: 0 0 100px;
}

.party__carousel__container {
  display: flex;
  margin: 40px 0;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;
}
.party__carousel__container::-webkit-scrollbar {
  display: none;
}
.party .carousel__item {
  flex-shrink: 0;
  width: calc(100% - var(--mobile-layout-padding-h-double));
  scroll-snap-align: center;
}
.party__carousel__item__image {
  width: 244px;
  margin: 0 auto;
}
.party__carousel__item__name {
  margin: 26px 0 0;
  font-family: var(--ff-golos-text);
  font-weight: 600;
  color: var(--color-text-primal);
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}
.party__carousel__item__dignity {
  margin: 8px 0 0;
  font-family: var(--ff-golos-text);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-text-primal);
  text-align: center;
  opacity: 0.6;
}
.party__carousel__item__btn {
  display: block;
  margin: 20px auto 0;
  padding: 12px;
  border: 1px solid var(--color-link);
  color: var(--color-link);
  font-size: 16px;
  font-family: var(--ff-golos-text);
  font-weight: 500;
  border-radius: 62px;
  background-color: transparent;
}

.party #controller {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.party__carousel__counter__container {
  font-size: 16px;
  font-family: var(--ff-golos-text);
  font-weight: 400;
  line-height: 120%;
}
.party__carousel__counter__text {
  opacity: 0.6;
}

.footer {
  position: relative;
  padding: 78px 20px 60px;
  background-color: var(--color-beige);
}

.footer .running-line-container {
  bottom: auto;
  top: 0px;
}

.footer__text {
  font-family: var(--ff-golos-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-text-primal);
  opacity: 0.6;
  text-align: start;
}
